.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  padding-bottom: 20px;
  width: 320px;
}
.display {
  width: 100%;
  height: 60px;
  padding: 40px 0;
  background: #ff9500;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}
.calc-display {
  width: 270px;
  height: 60px;
  float: left;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background: none;
  color: #ffffff;
  text-align: right;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  margin: 0 25px;
}
.row {
  width: 280px;
  float: left;
}
.buttons {
  padding: 20px 20px 0 20px;
}
.button {
  width: 60px;
  height: 60px;
  float: left;
  padding: 0;
  margin: 5px;
  box-sizing: border-box;
  background: #ebe9e9;
  border: none;
  font-size: 30px;
  line-height: 30px;
  border-radius: 50%;
  font-weight: 700;
  color: #424241;
  cursor: pointer;
}
.button:hover {
  background: #cac9c9;
  color: #424241;
  box-shadow: 1px 1px 5px rgb(209, 208, 208);
}
.unique {
  background: #ff9500;
  color: white;
}
.unique:hover {
  background: #ff9d14;
  color: white;
}
